;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jul  5 22:03:22 2013
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("workgrou" "installed" "workgroup" "workgrou"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/~elisp/" "~/~elisp/wg-settings"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/pavel/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(auto-fill-mode projectile-mode hi-lock-mode)
  854
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (column-number-mode . t)))

